body {
  font-family: 'helvetica neue';
  background-color: #070707;
  color: white;
}

form input[type="text"], form input[type="password"] {
  border: 1px solid #444;
}

form label {
  display: inline-block;
  width: 70px;
}

form .actions {
  margin: 0 0 0 74px;
}

#sector {
  position: absolute;
  top: 0;
  left: 0;
  right: 300px;
  bottom: 0;
  border-right: 1px solid #555;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 280px;
}

#system {
  background: black; 
  position: absolute; 
  width: 720px;
  z-index: 10;
}  

/*position: absolute;
top: 0;
left: 0;
z-index: 10;*/


