body {
  font-family: 'helvetica neue';
}

form input[type="text"], form input[type="password"] {
  border: 1px solid #444;
}

form label {
  display: inline-block;
  width: 70px;
}

form .actions {
  margin: 0 0 0 74px;
}

#system {
  position: fixed;
  left: 8px;
  top: 8px;
}

#system-info {
  margin-top: 250px;
}