<h2>New System</h2>

<form action="/systems" id="new_planet_form" class="create" method="post">
  <div class="field">
    <label for="planet_name">Name</label>
    <input type="text" name="name" value="" id="planet_name" />
  </div>
  <div class="field">
    <label for="planet_zone">Zone</label>
    <select type="text" name="zone" value="" id="planet_zone">
    {{# zones }}
      <option value="{{ name }}">{{ name }}</option>
    {{/ zones }}
    </select>
  </div>
  
  <div class="actions">
    <input type="submit" value="Create" />
  </div>
</form>
