{{# player }}
<script type="text/javascript">
  Sector.id = "{{ _id }}"
  Sector.homeworld_id = "{{ homeworld_id }}"
</script> 
{{/ player }}

<div id="sector">
  <div id="map">

  </div>
</div>

<div id="system">
  
</div>

<div id="info">
  <label>
    Scale
  </label>
  <select id="scale">
    <option>2</option>
    <option>1.5</option>
    <option selected="selected">1</option>
    <option>0.75</option>
    <option>0.5</option>
    <option>0.25</option>
    <option>0.1</option>
  </select>
  {{> systems/show }}
</div>







