<div id="system-info">
{{# system }}
  <h1><a class="show-system" href="/systems/{{ _id }}">{{ name }}</a></h1>

  {{# stars }}
  <p>
    <strong class="">{{ klass }}</strong>
    <span class="">Mass: {{ mass }}</span>
    <span class="">Radius: {{ radius }}</span>
  </p>
  {{/ stars }}

  <ul>
  {{# planets }}
    <li class="planet">
      <a class="show-planet" href="/planets/{{ _id }}">
        <strong>{{ klass }}</strong>
      </a>
    </li>
  {{/ planets }}
  </ul>

  {{> systems/remove }}

{{/ system }}
</div>




