<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" media="screen"  href="/css/index.css" />
    <title>Welcome To Brains Depot</title>
    <!-- Web App, hides Safari Chrome -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!--  Home page icon -->
    <!--  link rel="apple-touch-icon-precomposed" href="/assets/icon.png"  -->
    
    <script type="text/javascript" src="/js/vendor/jquery.1.7.min.js"></script> 
    <script type="text/javascript" src="/js/vendor/sugar-1.2.2.min.js"></script> 
    <script type="text/javascript" src="/js/vendor/resourceful-0.1.5.js"></script>
    <script type="text/javascript" src="/js/vendor/template-1.0.5.min.js"></script> 
    <script type="text/javascript" src="/js/vendor/raphael.js"></script>
    
    <script type="text/javascript" src="/js/sector.js"></script> 
    <script type="text/javascript" src="/js/models/system.js"></script> 
    <script type="text/javascript" src="/js/models/planet.js"></script> 
    <script type="text/javascript" src="/js/models/player.js"></script> 
    
    <script type="text/javascript" src="/js/render_system.js"></script> 
    <script type="text/javascript" src="/js/templates.js"></script> 
    <script type="text/javascript" src="/js/index.js"></script>  
  </head>
  
  <body class="starfield">   
    
    <div id="content">
      {{{ content }}}
    </div>
    
  </body>
</html>
