<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" media="screen"  href="/css/test.css" />
    <title>Welcome To Brains Depot</title>
    <!-- Web App, hides Safari Chrome -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!--  Home page icon -->
    <!--  link rel="apple-touch-icon-precomposed" href="/assets/icon.png"  -->
    
    <script type="text/javascript" src="/js/ender.js"></script>   
    
    <script type="text/javascript" src="/js/vendor/plates.js"></script>  
    <script type="text/javascript" src="/js/vendor/resourceful-0.1.5.js"></script>  
    
    <script type="text/javascript" src="/js/app.js"></script>      
   
    
    <script type="text/template" id="planet-template">   
      <h1 id="name">Name</h1>
    </script>
  </head>
  <body class="starfield">   
    
    <div id="content">
      Content
    </div>
    
  </body>
</html>
